
/* Your CSS Code here. */
.moviePic{
	position: relative;
	left: 37%;
	height: 25%;
	width: 25% ;
	opacity: .5;
}

.movieDetail{
	position: relative;
	top: 5px;
	left: 25%;
	padding: 5px 10px;
	width: 50%;
	text-align: center;
	font-size: large;
}